![index.png]()

## NumPy ?
A Package for scientific computing in Python. 

It is a library that provides a multidimensional array object, fast operation routines on arrays, mathematical, logical, shape manipulation, sorting, linear algebra, basic statistical operations.

#### Installing the numpy Library :

In [1]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.5)

#### Importing numpy library:

In [2]:
import numpy as np

#### Numpy Array vs Lists:

In [3]:
# List in python :
sample = [1,2,3,4]
sample

[1, 2, 3, 4]

In [4]:
# Numpy array in python :
np_sample = np.array(sample)
np_sample

array([1, 2, 3, 4])

#### Datatype ?

In [5]:
# sample is of type list 
type(sample)

list

In [6]:
# whereas np_sample if of type numpy nd array
type(np_sample)

numpy.ndarray


#### What’s the difference between a Python list and a NumPy array?

NumPy provides fast and efficient ways of creating and manipulating numerical data present inside numpy array. While a Python list can contain different data types within itself, **all of the elements in a NumPy array should be homogeneous**. The mathematical operations which are to be performed on arrays would be extremely inefficient if the arrays weren’t homogeneous in nature.

NumPy is much more faster and lighter as compared to python lists. Since NumPy arrays occupies less memory to store data with mechanisms of specifying datatype. Hence, providing us the benefit of optimizing it even further.

#### Array Indexing :

Array indexing in numpy array is same as that of in Lists, as shown below :

In [7]:
print("Numpy array : ",np_sample)
print()

# First element 
first_element = np_sample[0]
print("First element : ",first_element)
# Third element 
print("Third element : ",np_sample[2])
print()

# Last element 
print("Last  element : ",np_sample[-1])
# Third element 
print("Third element : ",np_sample[-2])  # Note

Numpy array :  [1 2 3 4]

First element :  1
Third element :  3

Last  element :  4
Third element :  3

#### Multi-Dimensional Array :
An array with more than once level of dimension. 

For example, a 2D array is an array consisting of rows and columns.

In [8]:
# 3 x 4 dimensional array
# Number of rows    = 3
# Number of columns = 4
new_sample = [
              [1,5,9,6 ],
              [2,6,3,8 ],
              [4,8,7,12],
              ]
X1 = np.array(new_sample)
X1

array([[ 1,  5,  9,  6],
       [ 2,  6,  3,  8],
       [ 4,  8,  7, 12]])

#### Dimension of array :
Dimension refers to the shape of the NumPy array, which shows the number of rows and number of columns present in that array.

In [9]:
print("NumPy array : \n",X1)
print()
print("Shape = ",X1.shape)

NumPy array :
 [[ 1  5  9  6]
 [ 2  6  3  8]
 [ 4  8  7 12]]

Shape =  (3, 4)

#### Indexing :
Accessing a specific element(s) present inside the NumPy Array.

In [10]:
print("Numpy Array : \n")
print(X1)

Numpy Array :

[[ 1  5  9  6]
 [ 2  6  3  8]
 [ 4  8  7 12]]

Selecting the entire second row :

In [11]:
# Selecting second row
X1[1]

array([2, 6, 3, 8])

In a multi-dimensional array, indexing can be done by **Comma-separated tuple of indices**.

To access the element present at the **R** th row and **C** th column, it can be done by a Comma-separated tuple of row and column pair as : [ R , C ]

Now, for example if we want value at second row, third column :

In [12]:
# Selecting second row, third column value :
X1[1,2]

3

In [13]:
# Selecting first 2 rows and first 3 columns :
X1[:2, :3]

array([[1, 5, 9],
       [2, 6, 3]])

In [14]:
# Selecting all rows except first row :
X1[1:]

array([[ 2,  6,  3,  8],
       [ 4,  8,  7, 12]])

In [15]:
# Selecting the entire second column :
X1[:,1]

array([5, 6, 8])

In [16]:
# Selecting all rows and last two columns :
X1[:,2:]

array([[ 9,  6],
       [ 3,  8],
       [ 7, 12]])

#### Updating values in NumPy array :

In [17]:
print("Numpy Array : \n")
print(X1)

Numpy Array :

[[ 1  5  9  6]
 [ 2  6  3  8]
 [ 4  8  7 12]]

In [18]:
# Before Changing / Updating value :  
# Value at row:2 and column:3
print("Value before updation = " , X1[1,2])

Value before updation =  3

In [19]:
# Changing the value at row:2 and column:3
X1[1,2] = 100

# After Changing / Updating value :  
# Value at row:2 and column:3
print("Value after updation = " , X1[1,2])

Value after updation =  100

#### Copies of NumPy array :

In [20]:
# Consider
copy_array = X1

print("X1 : ")
print(X1)
print()
print("copy_array : ")
print(copy_array)

X1 :
[[  1   5   9   6]
 [  2   6 100   8]
 [  4   8   7  12]]

copy_array :
[[  1   5   9   6]
 [  2   6 100   8]
 [  4   8   7  12]]

In [21]:
# Updating element at first row and first column in copy_array.
copy_array[0,0] = -999

In [22]:
# Printing both arrays after updating the value at [ 0, 0 ] :
print("X1 : ")
print(X1)
print()
print("copy_array : ")
print(copy_array)

X1 :
[[-999    5    9    6]
 [   2    6  100    8]
 [   4    8    7   12]]

copy_array :
[[-999    5    9    6]
 [   2    6  100    8]
 [   4    8    7   12]]

But we don't want this?

In [23]:
copy_array = X1.copy()

print("X1 : ")
print(X1)
print()
print("copy_array : ")
print(copy_array)

X1 :
[[-999    5    9    6]
 [   2    6  100    8]
 [   4    8    7   12]]

copy_array :
[[-999    5    9    6]
 [   2    6  100    8]
 [   4    8    7   12]]

In [24]:
# Updating element at first row and first column in copy_array.
copy_array[0,0] = 23

In [25]:
# Printing both arrays after updating the value at [ 0, 0 ] :
print("X1 : ")
print(X1)
print()
print("copy_array : ")
print(copy_array)

X1 :
[[-999    5    9    6]
 [   2    6  100    8]
 [   4    8    7   12]]

copy_array :
[[ 23   5   9   6]
 [  2   6 100   8]
 [  4   8   7  12]]

#### range() function for numpy arrays?

arange function Returns an NumPy array with evenly spaced elements based on the given interval. 

In the below example : It Returns evenly spaced numbers between 0 to 10

In [26]:
# Default interval starting = 0
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [27]:
# arange(start, stop, step_size)
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

#### How to change the shape of the numpy array ?

In [28]:
# Creating a NumPy array.
np_array = np.arange(9)
print("Numpy array : ",np_array)
print()
print("Shape of array : ", np_array.shape )

Numpy array :  [0 1 2 3 4 5 6 7 8]

Shape of array :  (9,)

Reshaping this array to a (3,3) shape.

In [29]:
# Reshaping the array to a (3,3) shape
np_array_reshaped = np_array.reshape((3,3))
print("Reshaped Numpy array : ")
print(np_array_reshaped)
print()
print("Shape of array : ", np_array_reshaped.shape )

Reshaped Numpy array :
[[0 1 2]
 [3 4 5]
 [6 7 8]]

Shape of array :  (3, 3)

Another example :

Changing the shape of numpy array to (9,1) dimensional array.

In [30]:
# Printing the original array 
print("Original Numpy array : ",np_array)
print()
# Reshaping the array to a (3,3) shape
np_array_reshaped = np_array.reshape((9,1))
print("Reshaped Numpy array : ")
print(np_array_reshaped)
print()
print("Shape of array : ", np_array_reshaped.shape )

Original Numpy array :  [0 1 2 3 4 5 6 7 8]

Reshaped Numpy array :
[[0]
 [1]
 [2]
 [3]
 [4]
 [5]
 [6]
 [7]
 [8]]

Shape of array :  (9, 1)

#### Concatenation of arrays :
In order to join a sequence of arrays along an existing axis is concatenation of arrays. 

Consider the following two arrays :

In [31]:
# Creating array 1 
array1 = np.arange(1,5)
# Creating array 2
array2 = np.arange(5,10)
print("array1 : ",array1)
print("array2 : ",array2)

array1 :  [1 2 3 4]
array2 :  [5 6 7 8 9]

Concatenating the above two arrays.

In [32]:
# Concatenating the above two arays
concat = np.concatenate([array1, array2])
print()
print("Concatenated array : ",concat)

Concatenated array :  [1 2 3 4 5 6 7 8 9]

Concatenation for multi-dimensional arrays :

In [33]:
# Creating the np array
multi_array = np.array([
                        [1, 2, 3],
                        [4, 5, 6]
                        ])

print("Array : ")
print(multi_array)
print("\nShape array : ", multi_array.shape)

Array :
[[1 2 3]
 [4 5 6]]

Shape array :  (2, 3)

Concatenating the above array.

In [34]:
concat = np.concatenate( [ multi_array, multi_array ] )
print("Concatenated array : ")
print(concat)
print("nShape array : ", concat.shape)

Concatenated array :
[[1 2 3]
 [4 5 6]
 [1 2 3]
 [4 5 6]]
nShape array :  (4, 3)

**Concatenation along row :**

In [35]:
concat = np.concatenate( [ multi_array, multi_array ], axis=1 )
print("Concatenated array : ")
print(concat)
print("Shape array : ", concat.shape)

Concatenated array :
[[1 2 3 1 2 3]
 [4 5 6 4 5 6]]
Shape array :  (2, 6)

#### More numpy arrays ?

1. Ones :

    Returns a new array with ones of shape specified and type.

In [36]:
# Creating a ones array with 6 elements.
ones = np.ones(6,dtype = int)
ones

array([1, 1, 1, 1, 1, 1])

In [37]:
# Checking dimension of ones array:
ones.shape

(6,)

2. Zeroes :
    
    Returns a new array with zeros of shape specified and type.

In [38]:
zeros = np.zeros(10, dtype = np.float64)
print(zeros)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [39]:
# Checking dimension of ones array:
zeros.shape

(10,)

3. [Identity :](https://numpy.org/doc/stable/reference/generated/numpy.identity.html)

    The identity array is a square array with ones on the main diagonal.

In [40]:
identity = np.identity(3)
print(identity)
print()
print("Shape of Identity matrix = ", identity.shape)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

Shape of Identity matrix =  (3, 3)

### Array Arithmetics :

1. Addition :

In [41]:
# Creating array 1 
array1 = np.arange(1,10).reshape((3,3))
# Creating array 2
array2 = np.arange(10,19).reshape((3,3))
print("array1 : \n",array1)
print()
print("array2 : \n",array2)

print()
print("Shape array1 : ", array1.shape)
print("Shape array2 : ", array2.shape)

array1 :
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

array2 :
 [[10 11 12]
 [13 14 15]
 [16 17 18]]

Shape array1 :  (3, 3)
Shape array2 :  (3, 3)

In [42]:
# Addition Result
array1 + array2

array([[11, 13, 15],
       [17, 19, 21],
       [23, 25, 27]])

In [43]:
# Addition Result
np.add(array1,array2)

array([[11, 13, 15],
       [17, 19, 21],
       [23, 25, 27]])

2. Subtraction :

In [44]:
# Creating array 1 
array1 = np.arange(1,10).reshape((3,3))
# Creating array 2
array2 = np.arange(10,19).reshape((3,3))
print("array1 : \n",array1)
print()
print("array2 : \n",array2)

print()
print("Shape array1 : ", array1.shape)
print("Shape array2 : ", array2.shape)

array1 :
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

array2 :
 [[10 11 12]
 [13 14 15]
 [16 17 18]]

Shape array1 :  (3, 3)
Shape array2 :  (3, 3)

In [45]:
# Subtraction Result
array2-array1

array([[9, 9, 9],
       [9, 9, 9],
       [9, 9, 9]])

In [46]:
# Subtraction Result
np.subtract(array2,array1)

array([[9, 9, 9],
       [9, 9, 9],
       [9, 9, 9]])

3. Multiplication :

In [47]:
# Creating array 1 
array1 = np.arange(1,5).reshape((2,2))
# Creating array 2
array2 = np.arange(5,9).reshape((2,2))
print("array1 : \n",array1)
print()
print("array2 : \n",array2)

print()
print("Shape array1 : ", array1.shape)
print("Shape array2 : ", array2.shape)

array1 :
 [[1 2]
 [3 4]]

array2 :
 [[5 6]
 [7 8]]

Shape array1 :  (2, 2)
Shape array2 :  (2, 2)

In [48]:
# Multiplication Result
array2*array1

array([[ 5, 12],
       [21, 32]])

In [49]:
# Multiplication Result
np.multiply(array2,array1)

array([[ 5, 12],
       [21, 32]])

4. Division :

In [50]:
# Creating array 1 
array1 = np.arange(1,5).reshape((2,2))
# Creating array 2
array2 = 10*np.ones(4).reshape((2,2))
print("array1 : \n",array1)
print()
print("array2 : \n",array2)

print()
print("Shape array1 : ", array1.shape)
print("Shape array2 : ", array2.shape)

array1 :
 [[1 2]
 [3 4]]

array2 :
 [[10. 10.]
 [10. 10.]]

Shape array1 :  (2, 2)
Shape array2 :  (2, 2)

In [51]:
# Multiplication Result
array1 / array2

array([[0.1, 0.2],
       [0.3, 0.4]])

In [52]:
# Multiplication Result
np.divide(array1,array2)

array([[0.1, 0.2],
       [0.3, 0.4]])

5. Power :

In [53]:
# Creating array 1 
array1 = np.arange(1,5)

print("array1 : \n",array1)
print()
print("Shape array1 : ", array1.shape)

array1 :
 [1 2 3 4]

Shape array1 :  (4,)

In [54]:
# Squaring each element in array
np.power(array1,2)

array([ 1,  4,  9, 16])

#### NumPy Functions :

#### Absolute value :

In [55]:
# Creating array 1 
array1 = np.arange(5,-5,-1)

print("array1 : \n",array1)
print()
print("Shape array1 : ", array1.shape)

array1 :
 [ 5  4  3  2  1  0 -1 -2 -3 -4]

Shape array1 :  (10,)

In [56]:
# Taking absolute value of array
np.absolute(array1)

array([5, 4, 3, 2, 1, 0, 1, 2, 3, 4])

In [57]:
np.abs(array1)

array([5, 4, 3, 2, 1, 0, 1, 2, 3, 4])

#### linspace function :
This is a function which returns number spaced evenly with given specified interval. 

For example : 
In order to get ten numbers between 1 and 10.

In [58]:
np.linspace(1,10,10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

Consider another example where we want a total of four numebers in between 1 and 10.

In [59]:
# linspace(start,end,num)
np.linspace(1,10,4)

array([ 1.,  4.,  7., 10.])

#### dot function :
This function returns the dot product of two numpy arrays.

In [60]:
# Creating array 1 
array1 = np.arange(4).reshape((2,2))
# Creating array 2
array2 = 2*np.ones(4).reshape((2,2))
print("array1 : \n",array1)
print()
print("array2 : \n",array2)

print()
print("Shape array1 : ", array1.shape)
print("Shape array2 : ", array2.shape)

array1 :
 [[0 1]
 [2 3]]

array2 :
 [[2. 2.]
 [2. 2.]]

Shape array1 :  (2, 2)
Shape array2 :  (2, 2)

The dot product for the above arrays are calculated as follows : 


[  [ 0\*2 + 1\*2 , 0\*2 + 1\*2  ]   ,
 
 [ 2\*2 + 3\*2 ,  2\*2 + 3\*2 ]   ]

In [61]:
np.dot(array1,array2)

array([[ 2.,  2.],
       [10., 10.]])

In [62]:
array1.dot(array2)

array([[ 2.,  2.],
       [10., 10.]])

#### Transpose :
Transpose is obtained by interchanging the rows to columns and vice versa. 

As it can be seen in the following example :

In [63]:
array1 = np.arange(9).reshape((3,3))   
print("Numpy array : \n",array1)

print()
print("Transpose : \n",array1.T)

Numpy array :
 [[0 1 2]
 [3 4 5]
 [6 7 8]]

Transpose :
 [[0 3 6]
 [1 4 7]
 [2 5 8]]

#### Sum Function :
This function sums up the number based on the axis specified, which can be wither row or column.

Now, for example : Sum of first 5 natural numbers.

In [64]:
natural_nums = np.arange(1,6)    
print("First 5 Natural Numbers : ",natural_nums)
print("Shape : ",natural_nums.shape)

print()
answer = np.sum(natural_nums)
print("Sum of first 5 Natural numbers : ",answer)

First 5 Natural Numbers :  [1 2 3 4 5]
Shape :  (5,)

Sum of first 5 Natural numbers :  15

Now, if we want to take sum of each column :

In [65]:
natural_nums = np.arange(9).reshape((3,3))   
print("Numpy array : \n",natural_nums)
print("Shape : ",natural_nums.shape)

print()
answer = np.sum(natural_nums,axis=0)
print("Column wise Sum : ",answer)

answer = np.sum(natural_nums,axis=1)
print("Row    wise Sum : ",answer)

Numpy array :
 [[0 1 2]
 [3 4 5]
 [6 7 8]]
Shape :  (3, 3)

Column wise Sum :  [ 9 12 15]
Row    wise Sum :  [ 3 12 21]

####Max Function :
This function return the maximum element(s) based on the axis specified, which can be wither row or column.

In [66]:
natural_nums = np.arange(9).reshape((3,3))    
print("Numpy array : \n",natural_nums)
print("Shape : ",natural_nums.shape)

print()
answer = np.max(natural_nums,axis=0)
print("Column wise Max : ",answer)

answer = np.max(natural_nums,axis=1)
print("Row    wise Max : ",answer)

Numpy array :
 [[0 1 2]
 [3 4 5]
 [6 7 8]]
Shape :  (3, 3)

Column wise Max :  [6 7 8]
Row    wise Max :  [2 5 8]

#### Min Function :
This function return the minimum element(s) based on the axis specified, which can be wither row or column.

In [67]:
natural_nums = np.arange(9).reshape((3,3))    
print("Numpy array : \n",natural_nums)
print("Shape : ",natural_nums.shape)

print()
answer = np.min(natural_nums,axis=0)
print("Column wise Max : ",answer)

answer = np.min(natural_nums,axis=1)
print("Row    wise Max : ",answer)

Numpy array :
 [[0 1 2]
 [3 4 5]
 [6 7 8]]
Shape :  (3, 3)

Column wise Max :  [0 1 2]
Row    wise Max :  [0 3 6]

In [68]:
np.median(natural_nums)

4.0

#### Broadcasting :
A powerful mechanism that allows us to work with different shape numpy arrays when performing arithmetic operations.

Consider the example :

In [69]:
array1 = np.arange(9).reshape((3,3))
array2 = np.array([100,0,100])
print("array1 : \n",array1)
print("array2 : ",array2)
print("Shape array1 : ",array1.shape)
print("Shape array2 : ",array2.shape)
print()

print("Result after addition: ")
print()
print(array1+array2)

array1 :
 [[0 1 2]
 [3 4 5]
 [6 7 8]]
array2 :  [100   0 100]
Shape array1 :  (3, 3)
Shape array2 :  (3,)

Result after addition:

[[100   1 102]
 [103   4 105]
 [106   7 108]]

array2 gets broad casted to :

In [70]:
broadcasted = np.array([array2,array2,array2])
print("Broadcasted numpy array : ")
print(broadcasted)

Broadcasted numpy array :
[[100   0 100]
 [100   0 100]
 [100   0 100]]

In [71]:
array1+broadcasted

array([[100,   1, 102],
       [103,   4, 105],
       [106,   7, 108]])

...

You have reached the end of this Notebook!

<hr>